:root {
    --main_gray: #F8F8F8;
    --text_color_1: #2A4E5E;
    --text_color_2: #FF914D;
    --text_color_3: #6F6F73;
    --text_color_4: #d7d7dd;
    --text_color_5: #e7ebed;
    --bg_color_1: #F0F3F9;
    --bg_color_2: #f9f2e3;
    --text_gradient: linear-gradient(90deg, #A778C8, #7789C8, #669669);
}

.text-gradient {
    background: var(--text_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits_section {
    background: var(--bg_color_2);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 50px;
}

main {
    max-width: 90vw;
    margin: 0 auto;
    /* ← CENTRA el body */
    padding-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header_navbar {
    background-color: var(--main_gray);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header_logo {
    width: 100px;
    height: 5auto;
}

.header_menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* font-size: 13px; */
    margin: 0;
    list-style: none;
}

.header_menu li a {
    list-style: none;
    color: var(--text_color_1);
    text-decoration: none;
}

.header_menu li a:hover {
    color: var(--text_color_2);
    font-weight: 500;
    cursor: pointer;
}

.button1,
.button2 {
    background-color: var(--text_color_2);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 30px;
    font-size: 14px;
    text-decoration: none;
}

.button1:hover,
.button2:hover {
    background-color: var(--text_color_1);
    color: #fff;
}

.button2 {
    display: block;
    width: fit-content;
    margin: 50px 0;
    align-self: center;
}

/* 
.benefit_btn {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.forwho_btn {
    margin-top: 50px;
    padding-bottom: 20px;
} */



.header_leftmenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

/* Desktop por defecto */
.btn-mobile {
    display: none;
}

/* Mobile */
@media (max-width: 480px) {
    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: inline;
    }
}

@media (max-width: 768px) {
    .header_navbar {
        padding: 0 10px;
    }

    .header_leftmenu {
        display: flex;
        flex-direction: row-reverse;
        /* Invierte el orden */
        align-items: center;
        gap: 0px;
        /* opcional */
    }

    .header_menu ul {
        gap: 10px;
        /* ajusta el espaciado si quieres */
    }
}

/* Ocultar menú normal en móvil */
@media (max-width: 768px) {
    .header_menu ul {
        display: none;
    }
}

/* Estilos botón hamburguesa */
.hamburger {
    font-size: 28px;
    background: none;
    border: none;
    color: var(--text_color_1);
    cursor: pointer;
    padding: 0;
}

/* Estilo del menú móvil */
/* .mobile_menu {
    display: none;
    flex-direction: column;
    background-color: var(--main_gray);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
} */

/* Cuando está abierto */
.mobile_menu.open {
    display: flex;
}

/* Ocultar el menú hamburguesa en desktop */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images img {
    max-width: 1200px;
    /* min-width: 400px; */
    border-radius: 15px;

    width: 90vw;
}

#hero_image {
    box-shadow: 4px 4px 10px var(--text_color_4);
}

#proposal_image {
    box-shadow: 4px 4px 10px var(--text_color_4);
}

/* .images img {
    border-radius: 15px;
    box-shadow: 4px 4px 10px var(--text_color_2);
    width: 90vw;
} */

/* Aquí van los estilos de la sección de beneficios */

.hero_section {
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.title1 {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--text_gradient);
    text-align: center;
}

.subtitle1 {
    font-size: 2rem;
    color: var(--text_color_3);
    margin: 0;
    line-height: 1;
    text-align: center;
}

.subtitle1 span {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text_color_2);
    margin: 0;
}

/* Aquí van los estilos de la lista de beneficios */

.benefits_content {
    padding-top: 50px;
}

.benefits_content .subtitle1 {
    color: var(--text_color_1);
    font-size: 35px;
    font-weight: 600;
}

.benefits_area {
    margin: 0 50px;
}

.benefits_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 0 10px;
    /* gap: 30px 30px; */
}

.benefits_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;

}

.benefit_item {
    /* benefit container */
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 10px;
    align-items: center;
    gap: 15px;
    box-shadow: 4px 4px 10px var(--text_color_3);
    border-radius: 10px;
    border-color: var(--text_color_3);
    width: 100%;
    background-color: #ffffff;
}

.benefit_item_icon {
    /* icon container */
    /* background-color: var(--bg_color_1); */
    padding: 10px;
    border-radius: 15px;
}

.benefit_item i {
    /* icon */
    display: inline-block;
    font-size: 50px;
    color: var(--text_color_2);
}

.benefit_item_content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.title2 {
    font-size: 1rem;
    margin: 0;
    color: var(--text_color_1);
    margin-bottom: 5px;
}

.subtitle2 {
    font-size: .9rem;
    margin: 0;
    color: var(--text_color_3);
}

.subtitle2 span {
    font-size: 0.9rem;
    margin: 0;
    color: var(--text_color_2);
}

.howitworks_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
    gap: 30px;
    justify-content: center;
}


.howitworks_item_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 10px var(--text_color_3);
    border-radius: 10px;
    border-color: var(--text_color_3);
    padding: 20px 20px;
    width: 250px;
    align-items: center;
}

.howitworks_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.howitworks_title {
    font-size: 2em;
    font-weight: 600;
    margin: 20px;
    color: var(--text_color_2);
}

.howitworks_subtitle li {
    text-align: left;
}


.howitworks_subtitle {
    font-size: .9rem;
    margin: 0;
    color: var(--text_color_3);
}

.howitworks_subtitle span {
    font-weight: 600;
}

.benefits_area,
.forwho_section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.forwho_section {
    align-items: center;
}

.forwho_section li {
    text-align: left;
    font-size: 20px;
    color: var(--text_color_3);
}


@media (max-width: 769px) {

    body {
        padding: 0;
    }

    .hero_image img {
        width: 100%;
        height: auto;
        min-width: 0;
    }

    .hero_section {
        padding: 0;
    }

    .title1 {
        font-size: 2rem;
    }

    .subtitle1,
    .subtitle1 span {
        font-size: 1.5rem;
    }

    body {
        max-width: 100vw;
    }

    .howitworks_img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 5px auto;
    }

    .howitworks_title {
        font-size: 1.5em;
        font-weight: 600;
        margin: 5px;
        color: var(--text_color_2);
    }

    .howitworks_item_content {
        padding: 20px 20px;
    }

    .benefits_container {
        flex-wrap: wrap;
    }

    .benefits_list {
        width: 90vw;
        flex-wrap: wrap;
    }

    .benefit_item {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
    }

    .benefit_item_content {
        text-align: center;
    }

    .benefits_area {
        margin: 0 0px;
    }
}

footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--main_gray);
    padding-bottom: 10px;

}

.footer_container {
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
    background-color: var(--main_gray);
    gap: 200px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_container img {
    width: 200px;
}

.footer_title_list {
    display: flex;
    flex-direction: row;
    gap: 100px
}

.footer_title {
    font-size: 15px;
    font-weight: 500;
    color: var(--text_color_1);
    margin-bottom: 0 !important;
}

hr {
    margin: 5px 0;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_container a {
    text-decoration: none;
    color: var(--text_color_3);
}

footer p {
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    color: var(--text_color_3);
}

.copyright {
    margin-bottom: 30px;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_title_list {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer_list a:hover {
    color: var(--text_color_2);
}

.footer_title_list_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_title_list_content hr {
    width: 100%;
}

@media (max-width: 769px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .footer_title_list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer_title_list_content {

        align-items: center;
    }

    .forwho_section li {
        font-size: 15px;
    }

    .subtitle1 {
        font-size: 20px;
    }
}

.divStyle1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divStyle2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 30px;
 align-items: center;
}

.divStyle2 .subtitle2 {
    margin-top: 20px;
}

.divStyle3 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.content2 {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.content1Style {
    padding: 25px 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px var(--text_color_4);
    background-color: var(--main_gray);
    max-width: 400px;
}

.content2Style {
    padding: 25px 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px var(--text_color_4);
    background-color: var(--text_color_5);
    text-align: center;
    max-width: 400px;
}

.divStyle3 .title2,
.divStyle4 .title2{
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.divStyle3 .subtitle2,
.divStyle4 .subtitle2 {
    text-align: center;
    margin: 0;
}

.content1Style .howitworks_subtitle {
    margin-top: 20px;
}

.divContainer {
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    gap: 30px;
}

.content1 .button2 {
    background-color: var(--text_color_1);
    margin: 30px 0;
}

.content1 .button2:hover {
    background-color: var(--text_color_2);

}

.commissions_hero_images {
  display: flex;
  justify-content: center;   /* centra horizontal */
  margin: 0 auto;            /* refuerzo de centrado */
  width: 100%;
}

.commissions_hero_images img {
  width: 90vw;               /* 90% del ancho de la pantalla */
  max-width: 1200px;         /* opcional: para que no se vea gigante en pantallas grandes */
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width: 769px) {
    .commissions_hero_images {
  margin-top:30px;
}
}